

@media only screen and (max-width: 2160px) {.min-vh-custom{height:auto!important;}}

@media only screen and (max-width: 1920px) {.min-vh-custom{min-height:82.85vh!important;}}

@media only screen and (max-width: 1536px) {.min-vh-custom{min-height:78.5vh!important;}}

@media only screen and (max-width: 1440px) {.min-vh-custom{min-height:79.5vh!important;}} 

@media only screen and (max-width: 1360px) {.min-vh-custom{min-height:72.2vh!important;}}

@media only screen and (max-width: 1280px) {.min-vh-custom{min-height:70vh!important;}}

@media only screen and (max-width: 1080px) {.min-vh-custom{min-height:79vh!important;}}

@media only screen and (max-width: 1024px) {.min-vh-custom{min-height:86.5vh!important;}}

@media only screen and (max-width: 992px) {.min-vh-custom{min-height:81vh!important;}}

@media only screen and (max-width: 900px) {.min-vh-custom{min-height:87.2vh!important;}}

@media only screen and (max-width: 810px) {.min-vh-custom{min-height:82.9vh!important;}}

@media only screen and (max-width: 800px) {.min-vh-custom{min-height:85.5vh!important;}}

@media only screen and (max-width: 768px) {.min-vh-custom{min-height:82vh!important;}}

/* Extra small devices (phones, 600px and down) xs =576 */
@media only screen and (max-width: 600px) {.min-vh-custom{min-height:74.3vh!important;}}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {.min-vh-custom{min-height:80.3vh!important;}}


@media only screen and (max-width: 414px) {.min-vh-custom{min-height:79.3vh!important;}}

@media only screen and (max-width: 412px) {.min-vh-custom{min-height:79.8vh!important;}}

@media only screen and (max-width: 375px) {.min-vh-custom{min-height:77vh!important;}}

@media only screen and (max-width: 390px) {.min-vh-custom{min-height:78vh!important;}} 
		
@media only screen and (max-width: 360px) {.min-vh-custom{min-height:76.9vh!important;}} 