
{% for ticket in own_tickets %}
    <section class="ticket card p-3 mb-4">

        <div> You requested a review</div>
        <div>{{ ticket.time_created }}</div>

        <div class="card p-3 mt-4 mb-4">
                <h3 class="ticket-title">Title: {{ ticket.title }}</h3>
                <p class="ticket-description">Description: {{ ticket.description }}</p>
                {% if ticket.image %}
                    <img class="ticket-image" src="{{ ticket.image.url }}">
                {% endif %}
        </div>
        <div>
        <a class="btn btn-outline-dark w-150 mt-3" href="{% url 'ticket_update' ticket.pk %}">Edit</a>
        <a class="btn btn-outline-dark float-end w-150 mt-3" href="{% url 'ticket_delete' ticket.pk %}">Delete</a>
        </div>

    </section>
{% endfor %}
