{% for review in own_reviews %}
<section class="review card p-3 mt-3 mb-4">

 <div class="review">
    <div> You posted a review</div>
    <div>Date: {{ review.time_created }}</div>
    <h3>Headline: {{ review.headline }}</h3>
    <div>Rating: {{review.rating}}<span> ☆</span></div>
    <div>Review: {{ review.body }}</div>

      <div>
       <a class="btn btn-outline-dark w-150 mt-3" href="{% url 'review_update' review.pk %}">Edit</a>
       <a class="btn btn-outline-dark w-150 float-end mt-3" href="{% url 'review_delete' review.pk %}">Delete</a>
      </div>

    </div>

     <div class="ticket card p-3 mt-3 ">
            <div>{% if  review.ticket.user.id == user.id%} You {% else %}
                 {{ review.ticket.user.username }} {% endif %} requested a review</div>
            <div>{{ review.ticket.time_created }}</div>
            <h3 class="ticket-title">Title: {{ review.ticket.title }}</h3>
            <p class="ticket-description">Description: {{ review.ticket.description }}</p>
            {% if review.ticket.image %}
                <img class="ticket-image" src="{{ review.ticket.image.url }}">
            {% endif %}
        </div>

</section>
    {% endfor %}